# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules/

# build output
dist/
main.js
chunks/
*.map

# obsidian
data.json

# macOS
.DS_Store

# test
test/

# Claude Code & plugins
# .claude/
# .claude-plugin/

# dotenv
.env
.env.*
!.env.example

# Logs
*.log
*.log.*

# Coverage
coverage/

# Playwright
test-results/
playwright-report/

# speckit
#.specify/

# cc
_references/
_article_references/


.claude/worktrees/

# superpowers
.superpowers/

# log
_logs/